* {
  scrollbar-color: $background-lighten-2;
  scrollbar-color-hover: $primary;
  scrollbar-color-active: $primary;
  scrollbar-background: $background; 
  scrollbar-background-active: $background;
  scrollbar-background-hover: $background;
  scrollbar-corner-color: $background;
}

RunContent:focus-within,
#tree-view:focus-within {
  border: solid $primary;
}

.-show-tree #tree-view {
  display: block;
  max-width: 50%;
}


Footer {
  background: $background;

  & FooterKey {
    color: $primary;
    background: transparent;
  }
}


Toast {
  width: auto;
  background: $surface; 
  tint: white 0%;
  color: $text;
  border-right: none;
  border-left: wide $primary;
}

ToastRack {
  align: right top;
  margin-top: 2;
}

Toast.-information {
  border-right: none;
  border-left: wide $primary;
}

Toast.-warning {
  border-right: none;
  border-left: wide $secondary;
}

Toast.-error {
  border-right: none;
  border-left: wide $error;
}

Toast .toast--title {
  color: $primary;
}


Button {
  padding: 0 1;
  height: 1;
  border: none;
  text-style: bold;
  min-width: 6;

  &:disabled {
    opacity: 99%;
  }
  &:hover {
      text-style: b;
      border: none;
      background: $primary;
  }
}


Input {
  padding: 0 1;
  height: 1;
  background: $surface;
  border: none;
  &.-invalid {
    padding-left: 0;
    border-left: outer $error;
  }

  &:focus {
    background: $surface-lighten-1;
    padding-left: 0;
    border-left: outer $surface-lighten-2;
    &.-invalid {
      border-left: outer $error;
    }

    & .input--cursor {
      color: $text;
      background: $accent;
      text-style: not reverse;
    }

  }
}


Select {
  height: 1;
  border: none;
  padding: 0 1;

  & > SelectCurrent {
    height: 1;
    border: none;
    padding: 0 1;
  }

  & > SelectOverlay {
    padding: 0;
    border: vkey grey 50%;
  }
}


DataTable {
  background: $background;
  padding: 0 1;

  &:focus {
      width: 1fr;
      padding: 0;
      border-left: inner $accent;
  }

  & > .datatable--cursor {
    background: $foreground 15%;
  }

  & > .datatable--hover {
      background: $foreground 0%;
  }
}

Tab {
    background: $background;
    color: $text;
}